body {
    font-family: 'Arial Narrow', Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #8ACE00;
    color: #000;
    text-align: center;
}

#header, footer {
    background-color: #FFFFFF; /* Set header and footer background to white */
    color: #000;
    padding: 20px;
    text-align: center;
}

.section, #comparison {
    background-color: #8ACE00; /* Ensure consistent background for main sections */
    color: #000;
    margin: 20px auto;
    padding: 15px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 800px;
}

#timeline ul {
    list-style-type: none;
    padding: 0;
}

#timeline li {
    margin: 20px 0;
    text-align: center; /* Center the text within each list item */
}

#timeline img {
    max-width: 100%;
    height: auto;
    margin-top: 10px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#remix a {
    color: #005bb5;
    text-decoration: none;
}

#remix a:hover {
    color: #003d80;
    text-decoration: underline;
}

img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 10px auto;
}

footer {
    background-color: #FFFFFF; /* Ensure footer background is white */
    color: #000;
    text-align: center;
    padding: 10px;
}
